<div class="footer row g-0 mt-4 justify-content-center">
    <hr>

    <div class="row col-xl-8 col-xxl-6 justify-content-between">
        <div class="col-auto">
            <span class='text-secondary'>© 2003 – 2022 ООО «Активные технологии»</span>
        </div>

        <div class="col-auto">
            Партнерское соглашение
        </div>

        <div class="col-auto">
            Политика приватности
        </div>
    </div>
</div>