<div class="col-3 widget-item">
    <div class="card p-2">
        <div class="row g-0 align-items-center">
            <div class="col-auto g-0">
                <img src=<%= image_url('new-account-icon.png') %> width="48" height="48">
            </div>

            <div class="col g-0">
                <div class="total-account">
                    <h4><b>10</b></h4>
                </div>

                <div class="total-account-caption text-secondary fs-sm">
                    Аккаунты
                </div>
            </div>

            <div class="col-auto g-0">
                <div class="account-growth just ps-1 pt-0 pe-2 pb-1">
                    <div class="row g-0">
                        <div class="col-auto g-0">
                            <img src=<%= image_url('account-icon.png') %> width="24" height="24">
                        </div>

                        <div class="col-auto g-0 ms-2 mt-1">
                            <b>0</b>
                        </div>
                    </div>
                </div>
                
                <div class="row mt-2 return-arrow-icon justify-content-end">
                    <div class="col-auto">
                        <img src=<%= image_url('return-arrow.png')%> width="24" height="24">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>